<a href="https://colab.research.google.com/github/radhikasethi2011/30DaysOfLeetCode/blob/master/Week%200/Week0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

During **Week #0**, we will get started with python programming language for Data Science. It will be ideal for beginners/absolute beginners with no coding experience.
data Science is not about Python, R, Jupyter, Exce, Notebook, Colab. Data Science is about using the above techniques, inventing new techniques, to solve a problem using **data** in a **scientific** way.

**Day 0** \\
**Your first *Hello World* Program**

In [0]:
print("Hello world") #print('Hello World')

Hello world

**Arithmatic Operations**

In [0]:
3+6

9

In [0]:
3*6

18

In [0]:
6/3

2.0

In [0]:
6%3

0

**Basic Functionalities**

In [0]:
d = "hello"
d.upper()
print(d)

hello

In [0]:
d.lower()
print(d)

hello

In [0]:
#to remove whitespaces from the string beginning and end
d = "   Hello   "
print("raw string : " + d)
d = d.strip()
print("After strip: "+ d)

raw string :    Hello
After strip: Hello

In [0]:
#to print the type of a variable 
a = 'hello'
print(type(a))

#basic arithmatic operations
x = 36 / 4 * (3 + 2) * 4 + 2
print(x)

HELLO
<class 'str'>
182.0

**Day 1** \\
**Data Structures, Sequence Types, List, Tuple**

In [0]:
#list - ordered, multiple data types can be adjusted in a single list.
A = ["Brush", "comb", 3, 72, 3.14]
print(A[0]+" "+A[1])
print(A[2],A[3],A[4])
#an index of -1 -> last element of your list. 
# to print multiple elements from the list: 
print(A[0:2]) #will return 0,1 , returns a list. [start(inclusive) : end(exclusive)]

Brush comb
3 72 3.14
['Brush', 'comb']

**Python data types** \\
1. Float - real numbers \\
2. Int - integer numbers \\
3. Str - Strings, text \\
4. bool - true/false \\
5. List - collection of different datatypes in a list [ ]